// Colors

$color-main:                      #CA514D;
$color-grey-medium:               #7F7F7F;
$color-grey-light:                #E2E2E2;

// Fonts

$font-logo:             'Suez One', serif;
$font-heading:         'Lobster', cursive;
$font-default:       'Roboto', sans-serif;
$font-base-size:                      16;
