{{ partial "header.html" . }}
	<main>
    <div class="homepage">
      <div class="container">
        <div class="row">
          <div class="first col-12">
            <div class="first__logo-wrapper">
              <h1>Příhoda <span class="first__heading--grey">tvoří weby</span> 
              <div class="first__logo">{{ readFile "static/img/svg/logo.svg" | safeHTML }}</div>
              </h1>
            </div>
            <span>
              Vytvořím webové stránky,
              nakreslím grafiku,
              nakóduji šablonu.
              S chutí a nadšením.
              Za peníze.
            </span>
          </div>
          <div class="second">
            <h2>nabízím...</h2>
            <span>tvorba webu - kod - grafika</span>
            <span>
              něco o tom co umím a nabízím
            </span>
            <a href="/portfolio">portfolio</a>
          </div>
          <div class="section-3">
            <h2>kontakt</h2>
            <span>Prohlédněte si moje portfolio, nebo mě kontaktujte. Našli jste chybu, nebo si jen myslíte že by se dalo něco udělat lépe či jinak? Dejte mi vědět, rád od vás uslyším.</span>
          </div>
          <div class="footer">
        </div>
    </div>
    </div>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}