{{ partial "header.html" . }}
	<main class="">
    <div class="homepage ">
      <div class="container ">




        <div class="row ">
          <div class="first col-12">
            <h2 class="first__text" >
              Vytvořím webové stránky,<br>
              nakreslím grafiku,<br>
              nakóduji šablonu.<br>
              S chutí a nadšením.<br>
              <span class="first__text-red">Za peníze.</span>
            </h2>
          </div>
          <div class="second col-12">
            <h2>nabízím...</h2>
            <span>tvorba webu - kod - grafika</span>
            <span>
              něco o tom co umím a nabízím
            </span>
            <a href="/portfolio">portfolio</a>
          </div>
          <div class="third col-12">
            <h2>kontakt</h2>
            <span>Prohlédněte si moje portfolio, nebo mě kontaktujte. Našli jste chybu, nebo si jen myslíte že by se dalo něco udělat lépe či jinak? Dejte mi vědět, rád od vás uslyším.</span>
          </div>
          <div class="footer">
          </div>
        </div>
      </div>
    </div>
	</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
